<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- To get ImageTarget, we need to delare the extension below -->
  <extensions>
    <add assembly="CSS.NLog.ImageExtension"/>
  </extensions>
  <targets>
    <!-- ImageTarget definition -->
    <target xsi:type="ImageTarget" name="screenshot1" LogPath="logs" />
  </targets>

  <rules>
    <!-- Logger rule which writes to the ImageTarget -->
    <logger name="screenshotLogger" minlevel="Trace" writeTo="screenshot1" />
  </rules>
</nlog>